html,body{
    height: 100%;
    background: #4682B4;
}

/*подключение шрифта*/
@font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(./../fonts/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Hack-Regular; /* Гарнитура шрифта */
    src: url(./../fonts/Hack-Regular.ttf); /* Путь к файлу со шрифтом */
}

/*стиль общего контейнера начало*/
.container {
    min-height: 100%;
    min-width: 700px;
    /*min-height: 500px;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 1fr 50px;
    grid-gap: 5px;
    padding-right:10px; 
    padding-left:10px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m c c c c c c c c"
        "f f f f f f f f f f f f";
}

@media screen and (max-width: 1650px) {
    .container {
        grid-template-areas:
            "h h h h h h h h h h h h"
            "m m m m c c c c c c c c"
            "f f f f f f f f f f f f";
    }
}


@media screen and (max-width: 1200px) {
    .container {
        grid-template-areas:
            "h h h h h h h h h h h h"
            "m m m m m m c c c c c c"
            "f f f f f f f f f f f f";
    }
}
/*стиль общего контейнера конец*/



/*начало стиля заголовка*/
.header {/*общее разбиение заголовка на блоки*/
    grid-area: h;
    background: #4682B4;
    display: grid;
    grid-template-columns: 150px auto 100px;
}

.logo{/*кастомизация картинки с символикой РПКБ*/
    width: 150px;
    justify-self:start;
}

.logo img{
    width: 150px;
}

.logo img:hover{
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.logo img:focus{
    outline: none;
    transform: translateY(2.5px);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.main_title{/*кастомизация блока, отведенного под слово "документация"*/
    text-align: left;
    /*word-wrap: break-word;*/
    font-family: Montserrat-Medium;
    font-size: 20px;
    max-width: 500px;
    /*margin-bottom: 0;
    margin-top: 1rem;
    margin-right: 10px;*/
    color: #FFFFFF;;
}

.language_switch{/*кастомизация блока, отведенного под кнопки смены языка*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 90px;
}

.ru_btn{/*кастомизация русской кнопки*/
    font-size: 0;
    height: 35px;
    width:  35px;
    margin-right: 5px;
    background-image: url(/img/russia_2.svg);
    outline: none;
    border: none;
    border-radius: 5px;
}

.ru_btn:hover{/*мышка наведена на кнопку*/
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.ru_btn:focus{/*кнопка нажата*/
    outline: none;
    transform: translateY(2.5px);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.eng_btn{/*кастомизация английской кнопки*/
    font-size: 0;
    height: 35px;
    width:  35px;
    margin-left:5px; 
    background-image: url(/img/eng_2.svg);
    outline: none;
    border: none;
    border-radius: 5px;
}

.eng_btn:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.eng_btn:focus{
    outline: none;
    transform: translateY(2.5px);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
/*конец стиля заголовка*/



/*начало стиля для левой части экрана, отведенной под навигацию*/
.menu {
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
    min-width: 340px;
    grid-area: m;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 1fr;
    grid-template-areas:
        "search_bar"
        "search_list"
        "list";
}

.search_bar{ /*контейнер под поисковую строку, содержит форму строку и название*/
    /*background: #B0C4DE;*/
    grid-area: search_bar;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "name"
    "form_class"; 
}

.name{ /*название строки*/
    grid-area: name;
    margin-left: 5px;
    margin-top: 10px;
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-weight: 510;
}

.form_class{ /*обертка для формы*/
    grid-area: form_class;
    margin-left: 3px;
    margin-right: 3px;
    height: 36px;
    border-radius: 10px 10px 10px 10px;
    background-color: #4682B4;
    display: flex;
}

.form{ /*форма поисковой строки, состоит из строки и кнопки*/
    display: grid;
    height: 26px;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "search search search btn";
}

.btn{ /*кнопка*/
    grid-area: btn;
    align-self: end;
    height: 100%;
    border-radius: 0 5px 5px 0;
    margin-right: 5px; 
    font-family: Montserrat-Medium;
    border: 0;
    background: #4682B4;
    color: #fff;
}

.btn:hover{
    background: #1d49aa;
}

.btn:focus{
    outline: none;
    /*box-shadow: 0 1px 0 1px #cbd6ee;*/
    background: #122faa;
}

.search{ /*строка*/
    grid-area: search;
    align-self: center;
    border: 0;
    height: 100%;
    border-radius: 5px 0 0 5px;
    margin-left: 5px;
    font-family: Montserrat-Medium;
    font-weight: 100;
}

.search:focus{
    outline: 0;
}

.search:hover {
    background-color: #fafafa;
}

.search_list{ /*контейнер для результатов поиска*/
    height: auto;
}

.list{ /*контейнер для развертываемой таблицы всех функций в библиотеке*/
    grid-area: list;
    display: grid;
    justify-content: start;
    margin-left: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;

}
/*конец стиля для левой части экрана, отведенной под навигацию*/



/*начало стиля основной части страницы*/
.content {
    grid-area: c;
    background: #FFFFFF;
    margin-left: 18px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    grid-template-areas:
        "nc"
        "dc"
        "sy"
        "pc"
        "rv"
        "ec";
}

.content h2{
    font-family: Montserrat-Medium;
    font-size: 140%;
}

.syntax_content a{
    text-decoration: none;
    color: #000000;
    font-family: Montserrat-Medium;
}

.syntax_content a:hover{
    text-decoration: underline;
}

.name_content{
    grid-area: nc;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Montserrat-Medium;
    font-size: 40px;
}

.description_content{
    grid-area: dc;
    margin-left: 10px;
    font-size: 16px;
    font-family: Montserrat-Medium;
}

.syntax_content{
    grid-area: sy;
    word-wrap: break-word;
    margin-left: 10px;
    font-size: 16px;
    font-family: Hack-Regular;
}

.parameters_content{
    grid-area: pc;
    margin-left: 10px;
    font-size: 16px;
    font-family: Montserrat-Medium;
}

.return_values_content{
    grid-area: rv;
    margin-left: 10px;
    font-size: 16px;
    font-family: Montserrat-Medium;
}

.function_example_content{
    grid-area: ec;
    overflow-x: hidden;
    margin-left: 10px;
    font-size: 16px;
    font-family: Montserrat-Medium;
    margin-bottom: 5px;
}
/*соврачиваемые блоки на основной части страницы начало*/
 .TextContainer{
    padding: 0;
    margin:0;
    grid-column: 6/7;
    word-wrap: break-word;
    font-size: 16px;
    font-family: Montserrat-Medium;
 }

.NewNode{
    margin-left: 18px;
    zoom:1;
}

.NewIsRoot{
    margin-left: 0;
}

 .NewExpand{
    width: 9px;
    height: 9px;
    float: left;
}

.NewContent{
    margin-left: 18px;
    min-height: 18px;
}

.ExpandOpen .NewExpand{
    background-image: url(/img/minus.png);
}

.ExpandClosed .NewExpand{
    background-image: url(/img/plus.png);
}

.ExpandOpen .TextContainer{
    display: block;
}

.ExpandClosed .TextContainer{
    display: none;
}

.ExpandOpen .NewExpand, .ExpandClosed .NewExpand{
    cursor: pointer;
}
/*соврачиваемые блоки на основной части страницы конец*/
/*конец стиля основной части страницы*/



/*начало стиля нижней части сайта*/
.footer {
    grid-area: f;
    background-color: #4682B4;
    max-height: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 120px));
    grid-template-areas:
        "fc fi";
}

.contacts{
    grid-area: fc;
    display: none;
    margin-left:50px;
}

.information{
    grid-area: fi;
    display: none;
    margin-left:50px;
}
/*конец стиля нижней части сайта*/



/*выпадающий список начало (визуализация результатов поиска и список библиотечных функций)*/
.MainContainer{
    padding: 0;
    margin:0;
    grid-column: 6/7;
    font-family: Montserrat-Medium;
    font-size: 18px;
    font-weight: normal;
}

.MainContainer li{
    margin-top: 15px;
    font-family: Montserrat-Medium;
    list-style-type: none;
}

.Node{
    margin-left: 18px;
    zoom:1;
}

.IsRoot{
    margin-left: 0;
}

.Expand{
    width: 9px;
    height: 9px;
    float: left;
}

.Content{
    margin-left: 18px;
    min-height: 18px;
}

.Content a{
    text-decoration: none;
    color: #000000;
    font-family: Montserrat-Medium;
}

.Content a:hover{
    text-decoration: none;
    border-bottom: 1.7px solid #000000;
    padding-bottom: 0.5px;
}

* html .Content{
    height: 9px;
}

.ExpandOpen .Expand{
    background-image: url(/img/minus.png);
}

.ExpandClosed .Expand{
    background-image: url(/img/plus.png);
}

.ExpandLeaf .Expand{
    background-image: url(/img/leaf.png);
}

.ExpandOpen .MainContainer{
    display: block;
}

.ExpandClosed .MainContainer{
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand{
    cursor: pointer;
}

.ExpandLeaf .Expand{
    cursor:auto;
}
/*выпадающий список конец*/



/*стили для скроллбаров начало*/
*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{/*статичная часть*/
    background-color: #e4e4e4;
    border-radius: 50px;
}

*::-webkit-scrollbar-thumb{/*подвижная часть*/
    border-radius: 50px;
    border:5px solid transparent;
    border-color: #7BB0D8;
}
/*стили для скроллбаров конец*/



/*ни с чем не связанные стили начало*/
/*Начало. Добавление стилей для горизонтальных линий*/
.hr-double {
margin-top:20px;
margin-left: 5px;
margin-right:20px;
padding:0;
height: 0;
border: none;
border-top: 2px solid #BBBBBB;
}
/*Конец.Добавление стилей для горизонтальных линий*/


/* Начало. Добавление ссылкам нормальное отображение*/
.content a{
    text-decoration: none;
    color: #000000;
    font-family: Montserrat-Medium;
    border-bottom: 0.50px solid #000000;
    padding-bottom: 0.0px;
}

.content a:hover{
    text-decoration: none;
    color: #666666;
    border-bottom: 0.50px solid #000000;
    padding-bottom: 1.0px;
}
/*Конец. Добавление ссылкам нормальное отображение*/

/*Начало. Добавление блоку с синтаксисом функции нового шрифта и размера*/
.in_syntax_content{
    font-family: Hack-Regular;
    font-size: 16px;
}
/*Конец. Добавление блоку с синтаксисом функции нового шрифта и размера*/

/*ни с чем не связанные стили конец*/